html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    margin: 0.5em;
    font-size: 2.3em;
    font-weight: 450;
}
li{
    list-style: none;
    margin-left: 2rem;
    padding-top: 11px;
    font-size:2rem ;
}

.navbar>nav{
    /* by this dev 101 and li come side by side */
    display: flex;
    justify-content: space-between;
}

ul{
    /* Li items comes side by side */
    display: flex;
    margin-left: 3rem;
    margin-right: 2rem;
   

}
img[src="https://github.com/nishika0905/DemoWebsite/blob/main/Images/lap.png"]{
    
    height: 100vh;
    width: 95vw;
    margin-left: 1vw;
    margin-right:1vw;
    }
.skills{display: flex;
}
.skills>div
{
 text-align: center;
margin-top: 1rem;
width: 30vw;
margin-left: 1vw;

}
.skills>div>p{
    padding: 1rem;
}
.footer
{ 
    background-color: black;
    color: white;
    text-align: center;
   
}
.footer>p{
    font-size: 25px;
}
a:link, a:visited{
    color: black;
}
a:hover{
    color: lightcoral;
}
a{
    text-decoration: none;
}
